alias battery='upower -i $(upower -e | grep BAT) | grep --color=never -E "state|to\ full|to\ empty|percentage|capacity"'
alias batterydetail='upower -i $(upower -e | grep BAT)'

alias shutdown='shutdown -h'

alias uploc='echo "Updatedb + locate"; sudo updatedb'
alias tdl='xdg-open https://to-do.live.com/tasks/'
alias onedrive='xdg-open https://onedrive.live.com'
alias spotify='xdg-open https://open.spotify.com'

alias frog="source ~/Portal/init/frog.sh | lolcat"
