alias battery='upower -i $(upower -e | grep BAT) | grep --color=never -E "state|to\ full|to\ empty|percentage|capacity"'
alias batterydetail='upower -i $(upower -e | grep BAT)'

alias shutdown='shutdown -h'
alias sleep='systemctl suspend'
alias hibernate='systemctl hibernate'
alias la='ls -a'

alias uploc='echo "Updatedb + locate"; sudo updatedb'
alias tdl='xdg-open https://to-do.live.com/tasks/'
alias onedrive='xdg-open https://onedrive.live.com'
alias spotify='xdg-open https://open.spotify.com'

alias frog="source ~/Portal/init/frog.sh | lolcat && fortune | lolcat"

alias clock="watch -n1 vcgencmd measure_clock arm"
alias temp="watch -n1 vcgencmd measure_temp"
